

body {
         font-family: 'Raleway', sans-serif;
         background-color: rgba(240, 181, 227, 1.0);
         margin: auto 0;
         font-size: 20px;
}


/*Style the Navbar*/

.sticky {
    	position: fixed;
    	top: 0;
    	width: 100%;
  
}



.main-nav {
        width: 100%;
        display: inline-flex;
        list-style: none;
        margin: 0;
        padding: 0;
        align-items: center;
        justify-content: center;
        background-color: rgba(220,133,201,1);
       /* overflow: hidden;*/
}



.shadow {
        box-shadow: 10px 5px 5px rebeccapurple;
     }



     .sticky {
        position: fixed;
        top: 0;
        width: 100%;
  
}

a:hover {
    font-size: 2rem;
    transition:  all 0.3s;
}

li {
        list-style-type: none;
        margin: 0;
        padding: 5px;
        font-size: 1.5rem;
        }

li.bullets {
    list-style-type: disc;
    margin: 0;
    padding: 5px;
    font-size: 20px;

}

.purple {
    color: rebeccapurple;
}



.navbar-logo {
	width: 100%;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    padding: 20rem 2rem 2rem 2rem;
    height: 50vh;
}
.cover{
    margin: 0 0 0 2rem;
    border: solid purple 3px;
    border-radius: 30px;
    
}

.text {
    padding: 2rem 5rem 2rem 5rem;
    text-align: center;
}

.align {
    text-align: start;
}

a {
	text-decoration: none;
}
.yellow {
    color: lightyellow;
}
.center {
    text-align: center;
}
@media only screen and (max-width: 600px){
    .main-nav {
        font-size: 0.5em;
        padding: 0;

    }
    
        .container {
               padding: 5em;
        }
}


.ponyrow {
    display: flex;
    flex-direction: row;
    margin-right: 5px;
    margin-left: 5px;
}


.homepage-ponies {
    margin: 10px;
    border: solid 3px rebeccapurple; 
    width: 20%;
    border-radius:25%
}